# Regression using Linear Regression

**In this exercise we have to predict the number of persons that used a bicycle from all the available numeric features, by working on the 'Bike Sharing in Washington D.C.' dataset**

**Connect to GDrive**

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

**Load the libraries**

In [7]:
from sklearn.model_selection import train_test_split
import pandas as pd

**Load the dataset**

In [9]:
dataset=pd.read_csv('/content/gdrive/MyDrive/day.csv')
df=pd.DataFrame(data=dataset)

In [10]:
# Change columns to be more readable
df=df.rename(columns={"dteday": "date", "yr": "year", "mnth": "month", "weekday": "day_of_the_week", "workingday": "working_day",
                      "weathersit": "weather_situation", "temp": "real_temperature", "atemp": "feeling_temperature",
                      "hum": "humidity", "windspeed": "wind_speed", "cnt": "num_of_bikes"})

# Feature Engineering

**Remove unwanted columns**

In [11]:
# Keep only numeric data
df = df.drop(['instant','date','season','year','month','holiday','day_of_the_week','working_day','weather_situation','casual','registered'],axis=1)

**Final Dataset**

In [12]:
df

     real_temperature  feeling_temperature  humidity  wind_speed  num_of_bikes
0            0.344167             0.363625  0.805833    0.160446           985
1            0.363478             0.353739  0.696087    0.248539           801
2            0.196364             0.189405  0.437273    0.248309          1349
3            0.200000             0.212122  0.590435    0.160296          1562
4            0.226957             0.229270  0.436957    0.186900          1600
..                ...                  ...       ...         ...           ...
726          0.254167             0.226642  0.652917    0.350133          2114
727          0.253333             0.255046  0.590000    0.155471          3095
728          0.253333             0.242400  0.752917    0.124383          1341
729          0.255833             0.231700  0.483333    0.350754          1796
730          0.215833             0.223487  0.577500    0.154846          2729

[731 rows x 5 columns]

# Model Training